/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}


.chessBoard {
	width: 640px;
	height: 640px;
	float: left;
}
.chessBoard.small {
	width: 320px;
	height: 320px;
}

.row { width: 640px; }

.chessBoard.small .row { width: 320px; }

.square {
	width: 60px;
	height: 60px;
	float: left;
	padding: 9px;
	border: 1px solid #000000;
}

.chessBoard.small .square { width: 30px; height: 30px; padding: 4px; }

.square.black { background-color: #564646; }
.square.white { background-color: #E0DBBE; }
.square.black.active { background-color: #A56868; }
.square.white.active { background-color: #F7DDDC; }
.square.active { border: 1px solid #ff0000; }

.piece {
	width: 40px;
	height: 40px;
	padding: 12px 10px 8px;
	cursor: move;
	font-size: 24px;
	border-radius: 40px;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	text-align: center;
}

.chessBoard.small .piece {
	width: 20px;
	height: 20px;
	padding: 6px 5px 4px;
	font-size: 12px;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.piece.colour_w { background-color: #fff; color: #000;}
.piece.colour_b { background-color: #000; color: #fff;}

.FENLog { float: left; padding: 4px; }